<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  @if (error) {
    <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
  }
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入用户名">
      <nz-input-wrapper>
        <nz-icon nzInputPrefix nzType="user" />
        <input
          nz-input
          nzSize="large"
          formControlName="username"
          autocomplete="username"
          placeholder="用户名: admin"
        />
      </nz-input-wrapper>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入登录密码">
      <app-password-input formControlName="password" placeholder="默认密码: navfirst.com" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="24">
      <label nz-checkbox formControlName="remember">保持登录状态</label>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
      进入控制台
    </button>
  </nz-form-item>
</form>
